:root {
  --primary: #f1a500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

/* Menu Section */
.menu {
  padding: 8rem 7% 1.4rem;
}

.menu h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.menu h2 span {
  color: var(--primary);
}
.menu p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
  background-color: aqua;
}

.menu .menu-card {
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid #666;
}

.menu .row .menu-card .menu-image {
  padding: 1rem 0;
}

.menu .row .menu-card .menu-image img {
  height: 20rem;
}

.menu .row .menu-card .menu-card-title {
  font-size: 2rem;
}

.menu .row .menu-card .menu-card-price {
  font-size: 1rem;
  font-weight: bold;
}
