:root {
  --primary: #f1a500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  background-color: #a56109;
  color: #fff;
}

/* Header */
Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px, 30px;
  background-color: #f1a500;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.logo span {
  color: #2c2b2b;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20 px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0.5rem;
}

nav ul li a:hover {
  color: #666;
}

.icons img {
  width: 5px;
  margin-left: 5px;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px, 50px;
  background: url("images/croffle.jpg") no-repeat center center/cover;
  height: 90vh;
}

.hero-content {
  max-width: 50%;
}
.hero h1 {
  font-size: 48px;
  font-weight: bold;
}
.hero h1 span {
  color: #f1a500;
}
.hero p {
  font-size: 16px;
  margin: 20 px 0;
}
.btn {
  display: inline-block;
  background-color: #5f3403;
  color: #eaf3f3;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}
.hero-image img {
  width: 300px;
  border-radius: 10px;
}
/* Tentang Kami */
.tentang-kami {
  background-color: #533e03;
  padding: 80px 50px;
}
.tentang-profile {
  display: flex;
  align-items: center;
  gap: 50px;
}
.tentang-profile img {
  width: 500px;
  border-radius: 10px;
}
.tentang-content {
  max-width: 50%;
}
.tentang-content h2 {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}
.tentang-content h2 span {
  color: #d4a373;
}
.tentang-content h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}
.tentang-content p {
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.5;
}




/* Menu Section */
.menu {
  padding: 8rem 7% 1.4rem;
}

.menu h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.menu h2 span {
  color: var(--primary);
}
.menu p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 100;
  line-height: 1.6;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
}

.menu .menu-card {
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  border: 1px solid #666;
}

.menu .row .menu-card .menu-image {
  padding: 1rem 0;
}

.menu .row .menu-card .menu-image img {
  height: 15rem;
}

.menu .row .menu-card .menu-card-title {
  font-size: 2rem;
}

.menu .row .menu-card .menu-card-price {
  font-size: 1rem;
  font-weight: bold;
}
